<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title><%=maTitle%></title>
    <meta name="description" content="MusicMatch: recommended artists based off your personal library." />
    <meta name="author" content="Ryan Wendling" />
    <link rel="stylesheet" type="text/css" href="/Css/reset.css" />
    <link rel="stylesheet" href="/Css/styles2.css" />
  </head>

  <body>
    <nav class="flexxContainer">
      <ul>
        <li>
          <div class="iconName">MusicMatch</div>
        </li>
      </ul>
      <ul>
        <% for(let i = 0; i < nav.length; i++) {%>
        <li>
          <a href="<%=nav[i].link%>"> <%=nav[i].title%> </a>
        </li>
        <%}%>
      </ul>
    </nav>

    <br></br>
    <div class="grid-container">
      <% for(let i = 0; i < passedInArtists.length; i++) {%>
      <div class="grid-item">
        <a class="music-info" href="/<%=passedInArtists[i][0]%>">
          <h3><%=passedInArtists[i][0]%></h3>
          <img alt="" src="../SavedImages/<%=passedInArtists[i][0]%>250.jpg" class="grid-img" />
        </a>
      </div>
      <%}%>
    </div>
  </body>

  <script src="/Js/scripts.js"></script>
</html>
