<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title><%=maTitle%></title>
    <meta name="description" content="MusicMatch: recommended artists based off your personal library." />
    <meta name="author" content="Ryan Wendling" />
    <link rel="stylesheet" type="text/css" href="/Css/reset.css" />
    <link rel="stylesheet" href="/Css/styles2.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />
  </head>

  <body>
    <nav class="navbar">
      <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fas fa-bars"></i>
      </span>
      <a href="/" class="logo">MusicMatch</a>
      <ul class="main-nav" id="js-menu">
        <% for(let i = 0; i < nav.length; i++) {%>
          <li>
            <a class="nav-links" href="<%=nav[i].link%>"> <%=nav[i].title%> </a>
          </li>
        <%}%>
      </ul>
    </nav>

<!--
    <nav class="flexxContainer">
      <ul>
        <li>
          <div class="iconName">MusicMatch</div>
        </li>
      </ul>
      <ul>
        <% for(let i = 0; i < nav.length; i++) {%>
        <li>
          <a href="<%=nav[i].link%>"> <%=nav[i].title%> </a>
        </li>
        <%}%>
      </ul>
    </nav>-->

    <div class="horz-centr">
      <p id="welcome">Hello, and welcome to my MusicMatch application! To begin, simply highlight the desired playlist from the lefthand navbar of your Itunes application. Next, go to File > Library > Export Playlist... From there, save the playlist as an XML file, and load it into the MusicMatch application!</p>
      <div id="backgroundblock">
        <form method="POST" action="/ArtistResultsView" enctype="multipart/form-data">
          <label>Select your itunes playlist XML file:</label>
          <br></br>
          <input id="browse" type="file" name="playlist_xml" />
          <br></br>
          <br></br>
          <input class="ph-button ph-btn-blue" type="submit" name="btn_upload_playlist_xml" value="Upload" />
        </form>
      </div>
    </div>
  </body>

  <script src="/Js/scripts.js"></script>
</html>
